@use "../../scss/" as *;

.wrapper {
  @include flex(center, unset, row);
  gap: 5px;
  width: fit-content;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  font-size: 0.875rem;
  border-radius: 20px;
  text-decoration: none;
}
