@use "../../scss/" as *;

.cursor {
  cursor: default;
}

.card {
  padding: 2rem;
  margin-bottom: 3rem;
  border-radius: 20px;
  box-shadow: $shadow-light;

  .card-inner {
    @include flex(flex-start, unset, row);
    gap: 30px;

    .card-image {
      @include flex(center, unset, row);
      max-width: 272px;
      max-height: 272px;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        border-radius: 20px;
        transition: all 0.25s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    .card-content {
      .tag-list {
        @include flex(center, unset, row);
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 12px;
      }

      .title {
        line-height: 1.2;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 20px;

        &:hover {
          text-decoration: underline;
          text-decoration-color: $pink-dark;
          text-decoration-thickness: 2px;
          text-underline-offset: 3px;
        }
      }

      .box-paragraph-all {
        margin-bottom: 1.5rem;
        height: auto;
        overflow: hidden;

        .paragraph {
          margin-bottom: 0.25rem;
          line-height: 1.8;
          height: auto;
        }
      }

      .box-paragraph {
        margin-bottom: 1.5rem;
        height: auto;
        // overflow: hidden;
        // display: -webkit-box;
        // -webkit-line-clamp: 3;
        // -webkit-box-orient: vertical;

        .paragraph {
          margin-bottom: 0.25rem;
          line-height: 1.8;
          height: auto;
        }
      }

      .time {
        @include flex(center, unset, row);
        gap: 5px;
        color: #5e5f5f;
        font-size: 0.875rem;
        line-height: 1.6;
      }
    }
  }
}
