@use "../../scss/" as *;

.activities {
  .flex {
    @include flex(center, unset, row);
  }

  .club {
    @include flex(center, unset, row);
    gap: 10px;
    margin-bottom: 120px;

    img {
      width: 120px;
    }

    p {
      line-height: 1.2;
      font-size: 2rem;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
        text-decoration-color: $pink-dark;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
      }
    }
  }

  .box-image {
    position: relative;
    width: 100%;

    .img-infor-1 {
      @include flex(center, center, unset);
      width: 70%;
      border-radius: 16px;
      position: absolute;
      left: 0;
      top: -70px;
      z-index: 300;

      img {
        width: 100%;
        height: 100%;
        margin: auto;
        border-radius: 16px;
        box-shadow: 3px 3px 4px 1px #fb5091;
        transition: all 0.25s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    .img-infor-2 {
      @include flex(center, center, unset);
      width: 70%;
      border-radius: 16px;
      position: absolute;
      right: 0;
      bottom: -80px;
      z-index: 200;

      img {
        width: 100%;
        height: 100%;
        margin: auto;
        border-radius: 16px;
        box-shadow: 3px 3px 4px 1px #fb5091;
        transition: all 0.25s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    .img-infor {
      @include flex(center, center, unset);
      width: 70%;
      margin: auto;
      border-radius: 999px;
      z-index: 900;

      img {
        width: 100%;
        height: 100%;
        margin: auto;
        border-radius: 999px;
        z-index: 900;
        box-shadow: 3px 3px 4px 1px #fb5091;
        transition: all 0.25s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}
