@use "../../../scss/" as *;

.footer {
  width: 100%;

  .wrapper {
    padding: 25px 128px 0px 128px;

    .brand {
      @include flex(center, unset, row);
      margin-top: 1.6rem;
      margin-left: 3rem;

      .brand-name {
        font-size: 3rem;
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        text-decoration: none;
        letter-spacing: 2px;
      }
    }

    .title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .tag-list {
      margin-bottom: 30px;

      .tags {
        @include flex(center, unset, row);
        gap: 10px;
        flex-wrap: wrap;
      }
    }

    .media {
      margin-bottom: 30px;
      margin-left: 5rem;

      .icon {
        @include flex(center, unset, row);
        gap: 10px;

        .icon-btn {
          background: $pink-dark;
          color: #fff;

          &:hover {
            background: $pink-light;
          }
        }
      }
    }
  }
}
