@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=PT+Serif:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,600&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&family=Tiro+Devanagari+Sanskrit&display=swap");

//Fonts
$font-family-roboto: "Roboto", sans-serif;
$font-family-inter: "Inter", sans-serif;
$font-family-segoe: "Segoe UI", sans-serif;
$font-family-poppin: "Poppins", sans-serif;

$black: #161819;
$bg-dark: #262a2e;
$tag-gray-dark: #383c41;
$pink-light: #fb5091;
$pink-dark: #fb2576;
$white: #ffffff;
$bg-light: #f3f3f9;
$tag-gray-light: #e8eaee;

$shadow-dark: 0 10px 10px rgba(0, 0, 0, 0.2);
$shadow-light: 0 15px 40px 5px rgba(132, 132, 133, 0.15);

$text-color-main-white: #d4d4d4;
$text-color-main-black: #2d3350;
